.cardDropdown {
    position: absolute;
    width: 30%;
    // height: 50px;
    background-color: #fff;
    right: 0;
    padding: 10px;
    color: #7a7a7a;
    text-align: center;
    display: none;
}