.dashboard {
    height: 100vh;

    .sidebar a {
        width: 100%;
        margin-top: 10px;
    }

    .imageField {
        width: 100px;
        height: 100px;

        & img{
            width: 100%;
        }
    }

    .addImage button {
        height: 40px;
        margin-left: 10px;
    }

}