.swiper-wrapper{
height: 100vh !important;
width: 100% !important;

}
.swiper-button-prev,
.swiper-button-next{
    margin: 5%;
    background-color: white;
    color: #111 !important;
    padding: 15px !important;
    width: 50px !important;
    height: 50px !important;



&:hover{
    color: white !important;
    background-color: #111;
    
}}

.swiper-button-next:after, 
.swiper-button-prev:after {
    font-size: 16px !important;
    font-weight: 600;

}